<footer class="bs-footer">
    <div class="d-flex justify-content-center">
        <a href="/">Home</a>
        <a href="/work/">Work</a>
        <a href="/random/woodworking/">Woodworking</a>
        <a href="/assets/docs/resume.pdf">Resume</a>
        <a href="https://blog.iambob.me" target="_blank">Blog</a>
    </div>

    <div class="d-flex justify-content-center pt-3 align-items-baseline bs-footer-social">
        {% for s in site.data.social %}
        <a class="bs-social-{{ s.name | replace:' ','-' }}" href="{{ s.url }}" target="_blank">
            <img src="{{ s.image }}" alt="{{ s.name }}" />
        </a>
        {% endfor %}
    </div>

    <div class="pt-4 bs-footer-copyright">
        <span>&copy; Bobby Steinbach 2019</span>
    </div>
</footer>

<!-- Core -->
<script type="text/javascript" src="/assets/dist/core.bundle.js"></script>
{% if include.js %}
<script type="text/javascript" src="{{ include.js }}"></script>
{% endif %}
