<footer class="bs-footer">
    <div class="d-flex justify-content-center">
        <a href="/">Home</a>
        <a href="/work/">Work</a>
        <a href="/random/woodworking/">Woodworking</a>
        <a href="/assets/docs/resume.pdf">Resume</a>
        <a href="https://blog.iambob.me" target="_blank">Blog</a>
    </div>

    <div class="d-flex justify-content-center bs-footer-social">

    </div>
</footer>

<!-- Core -->
<script type="text/javascript" src="/assets/dist/core.bundle.js"></script>
{% if include.js %}
<script type="text/javascript" src="{{ include.js }}"></script>
{% endif %}