<div class="col-12 col-sm-4 bs-sidebar">
    <div class="bs-sidebar-image">
        <img class="rounded-circle" src="/assets/images/bobby.jpeg" alt="Bobby's Face" />
    </div>

    <div class="bs-sidebar-subheader pt-3">
        <h1>Bobby Steinbach</h1>
        <h3>Pythonista, Jiu Jitsu Ninja</h3>
        <h6>redditor, builder, and netflix watcher</h6>
    </div>

    <div class="bs-sidebar-blurb pt-5">
        <p>
            Hey there! I'm a developer, leader, and entrepreneur living and working out of NYC. Drop me a line, I'd love to hear from you.
        </p>
    </div>

    <div class="bs-sidebar-social pt-3">
        {% for s in site.data.social %}
        <a class="bs-social-{{ s.name | replace:' ','-' }}" href="{{ s.url }}" target="_blank">
            <img src="{{ s.image }}" alt="{{ s.name }}" />
        </a>
        {% endfor %}
    </div>
</div>