<div class="col-12 col-sm-4 bs-sidebar">
    <div class="bs-sidebar-image">
        <img class="rounded-circle" src="/assets/images/bobby.jpeg" alt="Bobby's Face" />
    </div>

    <div class="bs-sidebar-subheader pt-3">
        <h1>Bobby Steinbach</h1>
        <h3>Pythonista, Jiu Jitsu Ninja</h3>
        <h5>redditor, builder, and netflix watcher</h5>
        <h6 class="pt-3">Director of Engineering @ <a href="https://www.forthepeople.com/" rel="nofollow">Morgan &amp; Morgan</a></h6>
    </div>

    <div class="bs-sidebar-blurb pt-3">
        <p>
            Hey there! I'm a developer, leader, and entrepreneur living and working out of NYC. Drop me a line, I'd love to hear from you.
        </p>
    </div>

    <div class="bs-sidebar-social pt-3">
        {% for s in site.data.social %}
        <a class="bs-social-{{ s.name | replace:' ','-' }}" href="{{ s.url }}" target="_blank">
            <img src="{{ s.image }}" alt="{{ s.name }}" />
        </a>
        {% endfor %}
    </div>

    <div class="bs-sidebar-contact text-center pt-2">
        <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
    </div>
</div>