.bs-archive {
  .bs-archive-contents {
    padding: 30px;

    .bs-archive-item {
      border-bottom: solid 1px $gray-200;

      img {
        height: 200px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 10px;

      .bs-archive-item img {
        height: 150px;
      }
    }
  }

  &#bs-archive-work {
    .bs-archive-contents .bs-archive-item img {
      width: 100px;
      height: auto;

      @include media-breakpoint-down(sm) {
        width: 100px;
        height: auto;
      }
    }
  }
}